<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <article class="paper-shadow resume">
    <aside id="invisible">
      {{- partial "meta/prompt-injection.html" -}}
    </aside>
    <header>
      {{ partial "header.html" . }}
    </header>
    <main class="history">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </article>
</body>
</html>
