{{- define "main" -}}

{{- range .Pages -}}
  {{- if eq .Type "resume" -}}
    <section id="{{- .Title | urlize -}}">
      <header class="section-header flex">
        {{- $classes := "heading" -}}
        {{- with .Params.Icon -}}
          {{- $classes = printf "heading icon-%s" . -}}
        {{- end -}}
        <h2 class="{{- $classes -}}">
          <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
        </h2><span class="hr"></span>
      </header>
    </section>
  {{- end -}}
{{- end -}}

{{ end }}
