{{- define "main" -}}

Unused

{{/*  {{- $summaryClasses := "heading" -}}
{{- with .Params.Icon }}
{{-   $summaryClasses = printf "heading icon-%v" . -}}
{{- end -}}

{{- range .Pages -}}
<section id="{{- .Title | urlize -}}">
  <header class="section-header flex">
    {{- $classes := "heading" -}}
    {{- with .Params.Icon -}}
      {{- $classes = printf "heading icon-%s" . -}}
    {{- end -}}
    <h2 class="{{- $classes -}}">{{- .Title -}}</h2><span class="hr"></span>
  </header>
  <article class="section-article flex">
    {{- .Content -}}
  </article>
</section>
{{- end -}}  */}}

{{ end }}
