@font-face {
  font-family: 'fontello';
  src: url('../assets/font/fontello.eot?40080542');
  src: url('../assets/font/fontello.eot?40080542#iefix') format('embedded-opentype'),
       url('../assets/font/fontello.woff2?40080542') format('woff2'),
       url('../assets/font/fontello.woff?40080542') format('woff'),
       url('../assets/font/fontello.ttf?40080542') format('truetype'),
       url('../assets/font/fontello.svg?40080542#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media print {
  @font-face {
    font-family: 'fontello';
    src: url('../assets/font/fontello.svg?40080542#fontello') format('svg');
  }
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="before-icon-"]:before,
[class*=" before-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="suffix-icon-"]:after,
[class*=" suffix-icon-"]:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-left: .2em;
  text-align: center;
  opacity: .8;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-right: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-flow-branch:before { content: '\e802'; } /* '' */
.icon-print:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-star-half:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-folder:before { content: '\e809'; } /* '' */
.icon-folder-open:before { content: '\e80a'; } /* '' */
.icon-book:before { content: '\e80b'; } /* '' */
.icon-umbrella:before { content: '\e80c'; } /* '' */
.icon-chart-bar:before { content: '\e80d'; } /* '' */
.icon-wrench:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-basket:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-award:before { content: '\e812'; } /* '' */
.icon-shuffle:before { content: '\e813'; } /* '' */
.icon-inbox:before { content: '\e814'; } /* '' */
.icon-signal:before { content: '\e815'; } /* '' */
.icon-briefcase:before { content: '\e816'; } /* '' */
.icon-magnet:before { content: '\e817'; } /* '' */
.icon-gift:before { content: '\e818'; } /* '' */
.icon-floppy:before { content: '\e819'; } /* '' */
.icon-truck:before { content: '\e81a'; } /* '' */
.icon-hammer:before { content: '\e81b'; } /* '' */
.icon-key:before { content: '\e81c'; } /* '' */
.icon-keyboard:before { content: '\e81d'; } /* '' */
.icon-attach:before { content: '\e81e'; } /* '' */
.icon-lock:before { content: '\e81f'; } /* '' */
.icon-lock-open:before { content: '\e820'; } /* '' */
.icon-pin:before { content: '\e821'; } /* '' */
.icon-eye:before { content: '\e822'; } /* '' */
.icon-tag:before { content: '\e823'; } /* '' */
.icon-tags:before { content: '\e824'; } /* '' */
.icon-link:before { content: '\e825'; } /* '' */
.icon-home:before { content: '\e826'; } /* '' */
.icon-users:before { content: '\e827'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard-1:before { content: '\f11c'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-reddit-squared:before { content: '\f1a2'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox-1:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-universal-access:before { content: '\f29a'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-free-code-camp:before { content: '\f2c5'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
