:root {
  font-size: 9pt;
}

body {
  color: #222;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji"
}

a {
  color: #2e75b5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: lighter
}

h2 {
  overflow: hidden;
  font-size: 11pt;
}

header h1 {
  text-align: center;
  font-size: 18pt;
}

.heading {
  display: inline-block;
}

.hr {
  flex: 1;
  display: inline-block;
  margin-bottom: 7.5pt;
  margin-left: 0.5em;
  border-bottom: 1px solid #888;
}

.flex {
  display: flex;
}


.avatar {
  margin-top: -75px;
}

.avatar img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 2px solid #888;
  width: 100px;
  height: 100px;
}

.section-header {
  padding-top: 0.5em;
}

.location p {
  color: #7f7f7f;
  text-align: center;
}
.roles {
  color: #2e75b5;
  text-align: center;
}
.roles ul {
  text-align: center;
  display: block;
}
.roles ul > li {
  display: inline-block;
  padding-right: 5px;
}
.roles ul > li::after {
  display: inline-block;
  padding-left: 5px;
  content: '|';
}
.roles ul > li:last-child::after {
  display: inline-block;
  content: none;
}

/* "Invisible" so that LLM and computer vision can still read it */
#invisible {
  top: 0;
  left: 0;
  position: absolute;
  margin: 0;
  padding: 5px;
  opacity: 3% !important;
}

article.resume {
  padding: 3cm 3cm;
  position: relative;
}

section.contact > ul.contact-list {
  display: block;
  text-align: center;
}
li.contact {
  text-decoration: none;
  display: inline-block;
}

li.contact {
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid black;
}
li.contact:nth-child(3) {
  border: none;
}
li.contact > a:nth-child(3)::after {
  content: "\A"; /* Insert a line break character */
  white-space: pre; /* Preserve white spaces */
  display: block; /* Make the pseudo-element a block element */
}

li.contact:last-child {
  border: none;
}

#summary > ul {
  padding-left: 1em;
}

.markdown-content > ul {
  padding-left: 1em;
}
.markdown-content > ul > li {
  font-size: 8pt;
}

footer {
  width: 100%;
  padding: 1em;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.employment-header,
.project-header {
  display: block;
  padding: 6pt 0 2pt 0;
}
.employment-duties {
  font-size: 8pt;
}
.date-container {
  font-size: 9pt;
  font-style: italic;
  color: #1f4e79;
}
ul.horizontal {
  display: inline-block;
}
ul.horizontal > li {
  display: inline-block;
  margin-right: 3pt;
}
ul.horizontal > li:last-child {
  margin-right: 0;
}
ul.horizontal > li > * {
  margin-left: 3pt;
}

.secondary-content {
  color: #525252;
}
ul.horizontal > li > *{
  display: inline-block;

}
.bar-separated > li::before {
  content: '|';
  display: inline-block;
}
.skill-list {
  width: 32.9%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 3pt;
  text-align: center;
}
h2.skill-group {
  margin: 0 auto;
  margin-bottom: 2pt;
}
.project-description > p {
  font-style: italic;
  color: #525252;
}

.employment-skill-list {
  font-size: 8pt;
}
.skill-breakdown > ul {
  display: inline-block;
  width: 100%;
}
.skill-breakdown > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  margin: 2px 1px;
  border-radius: 5pt;
  background-color: #eee;
  border: 1px solid #eee;
}
.skill-breakdown > ul > li::after {
  content: ''
}
.skill-breakdown > ul > li:last-child:after {
  content: ''
}

h2.skill-group {
  font-size: 10pt;
  text-align: center;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.skill {
  padding: 0 5px;
  border-radius: 5pt;
  background-color: #eee;
  border: 1px solid #eee;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
}
section.employment {
  break-after: auto;
}

.resume-entry-title {
  margin-right: 3pt;
}
.icon-svg {
  vertical-align: middle;
  display: inline-block;
}

h3.role-title {
  font-size: 9pt;
}
.spacer {
  display: inline-block;
  flex: 1;
}

@media screen {

  article.resume {
    width: 8.5in;
    margin: 2cm auto;
  }
  body {
    background:#dfe6e9;
  }
  .resume {
    margin-top: 5cm;
    /* height: 11in; */
    margin: 100px auto;
  }
  .paper-shadow {
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;

    min-height: 200px;
    width: 50vw;
    background: white;
  }
}
