{{- $page := . -}}
{{- with .Params.Avatar -}}
  {{- with .Image -}}
    <aside class="avatar">
      {{- with $page.Resources.Get . -}}
        {{- $image := .Process "resize 100x100" -}}
        <img src="data:{{ $image.MediaType.Type }};base64,{{ $image.Content | base64Encode }}" />
      {{- end -}}
    </aside>
  {{- else -}}
    {{- with .Github -}}
      <aside class="avatar">
        {{- with resources.GetRemote (printf "https://github.com/%s.png" .) -}}
          {{- $image := .Process "resize 100x100" -}}
          <img src="data:{{ $image.MediaType.Type }};base64,{{ $image.Content | base64Encode }}" />
        {{- end -}}
      </aside>
    {{- end -}}
  {{- end -}}
{{- end -}}
<h1>{{ .Title | markdownify }}</h1>
{{- with .Params.Roles -}}
  <section class="roles">
    <ul class="role-list">
      {{- range $index, $element := . -}}
      <li>{{- $element -}}</li>
      {{- end -}}
    </ul>
  </section>
{{- end -}}
{{- with .Params.Location -}}
  <section class="location">
    <p>{{- printf "In %s" . -}}</p>
  </section>
{{- end -}}
{{- with .Params.Contact -}}
  <section class="contact">
    <ul class="contact-list">
      {{- with .Phone -}}
        <li class="contact icon-phone">
          <a href="tel:{{- . -}}">{{- . -}}</a>
        </li>
      {{- end -}}
      {{- with .Email -}}
        <li class="contact icon-mail">
          <a href="mailto:{{- . -}}">{{- . -}}</a>
        </li>
      {{- end -}}
      {{- with .Website -}}
        <li class="contact icon-link-ext">
          <a href="{{- . -}}">{{- . -}}</a>
        </li>
      {{- end -}}
      {{- with .Stackoverflow -}}
        <li class="contact icon-stackoverflow">
          <a href="https://stackoverflow.com/users/{{- . -}}">user:{{- . -}}</a>
        </li>
      {{- end -}}
      {{- with .Github -}}
        <li class="contact icon-github-circled">
          <a href="https://github.com/{{- . -}}">@{{- . -}}</a>
        </li>
      {{- end -}}
      {{- with .Linkedin -}}
        <li class="contact icon-linkedin-squared">
          <a href="https://linkedin.com/{{- . -}}">{{- . -}}</a>
        </li>
      {{- end -}}
    </ul>
  </section>
{{- end -}}
